#root {
  margin: 0 auto;
}

header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-transform: lowercase;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header ul li {
  margin-left: 1rem;
  font-size: 1.25rem;
}

header .sign-in-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--blue);
  margin-left: 2rem;
  font-size: 1.25rem;
  color: var(--white);
}

.fade-in {
  animation: fadeIn ease 125ms;
  -webkit-animation: fadeIn ease 125ms;
  -moz-animation: fadeIn ease 125ms;
  -o-animation: fadeIn ease 125ms;
  -ms-animation: fadeIn ease 125ms;
}

.pink {
  color: var(--pink);
}

.blue {
  color: var(--blue);
}

.gold {
  color: var(--gold);
}

.green {
  color: var(--green);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
