:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: hsl(51.8, 50%, 95.4%);
  --white-semi-opaque: hsla(51.8, 50%, 95.4%, 0.65);
  --white-opaque: hsla(51.8, 50%, 95.4%, 0.65);
  --white-dark: hsl(51.8, 50%, 90%);

  --pink: #fb6f92;
  --pink-darkest: #e94b6b;
  --blue: #219ebc;
  --gold: #ffb703;
  --green: #3ec300;

  --black: hsl(231.4, 28%, 9.8%); /* #121420 */
  --black-semi-opaque: hsla(231.4, 28%, 9.8%, 0.45);
  --black-dark: hsl(231.4, 28%, 12.8%); /* #1a1c1e */
  --black-dark-semi-opaque: hsla(231.4, 28%, 12.8%, 0.45);
  --black-ultra-dark: hsl(231.4, 28%, 13.8%); /* #1c1e20 */
  --black-ultra-dark-semi-opaque: hsla(231.4, 28%, 4.8%, 0.85);
  --black-light: hsl(231.4, 28%, 14.8%); /* #1e2026 */
  --black-lighter: hsl(231.4, 28%, 19.8%); /* #2a2c2c */
  --black-lightest-semi-opaque: hsla(231.4, 28%, 19.8%, 0.75);

  --tan: #caa781;
  --tan-light: #d6b48a;
  --tan-dark: #b59b6a;
  --tan-darker: #a48e5f;

  --olive: hsl(143.2, 20.2%, 42.7%);
  --olive-semi-opaque: hsla(143.2, 20.2%, 42.7%, 0.75);
  --olive-light: hsl(143.2, 20.2%, 47.7%);
  --olive-lighter: hsl(143.2, 20.2%, 52.7%);
  --olive-lightest-semi-opaque: hsla(143.2, 20.2%, 52.7%, 0.75);
  --olive-dark: hsl(135, 17%, 38.9%);
  --olive-darker: hsl(135, 17%, 33.9%);
  --olive-ultra-dark-semi-opaque: hsla(142, 20%, 8%, 0.75);

  --darker: hsla(0, 0%, 0%, 0.3);
  --darkest: hsla(0, 0%, 0%, 0.6);

  color-scheme: light dark;
  color: var(--white);
  background: var(--olive);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: color 125ms ease-out, background 125ms ease-out;
}

#root {
  margin: 0 auto;
}

main > div {
  min-height: calc(100vh - 124px);
}

main:has(#sign-up-page),
main:has(#sign-in-page),
main:has(#forgot-password-page) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main:has(#sign-up-page) > div,
main:has(#sign-in-page) > div,
main:has(#forgot-password-page) > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5rem 0 10rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.app-page h2 {
  /* padding-bottom: 1rem; */
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.app-page {
  height: 100%;
}

.light-theme {
  color: var(--white);
  background: var(--olive);
}

.dark-theme {
  background: var(--black);
}

.highlight {
  padding: 3px;
}

.light-theme .highlight {
  color: var(--white);
  background: var(--black-dark);
}

.dark-theme .highlight {
  color: var(--black);
  background: var(--white);
}

.scroll-to-top {
  position: fixed !important;
  bottom: 2rem !important;
  right: calc(100vw / 2 - 1.5rem) !important;
  z-index: 1000 !important;
  font-size: 1.5rem !important;
  color: var(--white) !important;
  background: var(--pink) !important;
  border-radius: 50% !important;
  padding: 0.5rem !important;
  cursor: pointer !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  /* transform: scale(1.25); */
  transition: filter 125ms ease-out, transform 125ms ease-out;
  transform: scale(1.25) !important;
}

.scroll-to-top:hover {
  filter: brightness(1.1);
}

.scroll-to-top:active {
  /* transform: scale(1.25) !important; */
}

.material-symbols-outlined.light_mode-symbol {
  color: var(--gold);
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: var(--white);
  border: 2px solid transparent;
  transition: filter 125ms ease-out;
}

.button:hover {
  filter: brightness(1.1);
}

.button.pink {
  background-color: var(--pink);
  color: var(--white);
  display: block;
}

.button[disabled].pink:hover {
  filter: none;
}

.button.border {
  border-top: 1px solid hsla(0, 0%, 100%, 0.35);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.35);
}

button:active {
  transform: scale(1.0125);
}

form button + p {
  margin-top: 2rem;
  font-size: 0.9rem;
}

input {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background 125ms ease-out, color 125ms ease-out, border 125ms ease-out;
}

input:focus {
  border: 2px solid var(--pink);
}

.light-theme input[type="email"],
.light-theme input[type="password"],
.light-theme input[type="text"] {
  background: var(--olive-dark);
  color: var(--olive-light);
}

.light-theme input[type="email"]:focus,
.light-theme input[type="password"]:focus,
.light-theme input[type="text"]:focus {
  background: var(--olive-light);
  color: var(--white);
}

.dark-theme input[type="email"],
.dark-theme input[type="password"],
.dark-theme input[type="text"] {
  background: var(--black-light);
  color: var(--black);
}

.dark-theme input[type="email"]:focus,
.dark-theme input[type="password"]:focus,
.dark-theme input[type="text"]:focus {
  background: var(--black-lighter);
  color: var(--white);
}

.pink {
  color: var(--pink);
}

.blue {
  color: var(--blue);
}

.gold {
  color: var(--gold);
}

.green {
  color: var(--green);
}

.white {
  color: var(--white) !important;
}

.italic {
  font-style: italic;
}

.right {
  text-align: right;
}

.helper {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--olive-darker);
}

.helper a {
  /* text-decoration: underline; */
  text-underline-offset: 2px;
}

.helper.white a {
  color: var(--pink);
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 2px;
}

.serif {
  font-family: "Libre Baskerville", serif;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.dark-theme p.helper {
  color: var(--black-lighter);
}

.fade-in {
  animation: fadeIn ease 125ms;
  -webkit-animation: fadeIn ease 125ms;
  -moz-animation: fadeIn ease 125ms;
  -o-animation: fadeIn ease 125ms;
  -ms-animation: fadeIn ease 125ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drop-in {
  animation: dropIn ease 125ms;
  -webkit-animation: dropIn ease 125ms;
  -moz-animation: dropIn ease 125ms;
  -o-animation: dropIn ease 125ms;
  -ms-animation: dropIn ease 125ms;
}

@keyframes dropIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes dropIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes dropIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes dropIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-ms-keyframes dropIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
