#forgot-password-page > div {
  width: fit-content;
}

#forgot-password-page label {
  margin: 1rem 0;
  font-weight: 700;
}

#forgot-password-page input[type="email"] {
  margin-bottom: 1rem;
  width: 400px;
  /* display: inline; */
}

#forgot-password-page button[type="submit"] {
  width: 400px;
}

#forgot-password-page h2 {
  margin-bottom: 2rem;
}
