header {
  margin-bottom: 2rem;
  padding: 2rem;
  text-transform: lowercase;
}

header > div {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header > div,
header > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header ul li {
  margin-left: 2rem;
  font-size: 1.25rem;
}

header ul li a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

header ul li a .material-symbols-outlined {
  margin-right: 0.25rem;
  font-size: 90%;
  opacity: 0.1;
  transition: opacity 125ms ease-in-out;
}

header ul li a:hover .material-symbols-outlined {
  opacity: 0.6;
}

.start-page-nav ul li:first-child {
  margin-left: 0;
}

header .sign-in-link {
  margin-left: 2rem;
  background-color: transparent !important;
  border: 2px solid var(--pink) !important;
  color: var(--pink) !important;
}

header .theme-toggle {
  color: var(--white);
  margin-left: 2rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0;
}
