:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: hsl(51.8, 50%, 91.4%);
  --white-dark: hsl(51.8, 50%, 81.4%);
  --pink: #fb6f92;
  --blue: #219ebc;
  --gold: #ffb703;
  --green: #3ec300;
  --black: #121420;

  color-scheme: light dark;
  color: var(--black);
  background: var(--white);
  /* background-size: cover; */
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: color 125ms ease-out, background 125ms ease-out;
}

::selection {
  color: var(--white);
  background: var(--black);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* padding: 2rem; */
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background: var(--black);
  }

  ::selection {
    color: var(--black);
    background: var(--white);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
