#sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-in-page form {
  width: 400px;
  margin-top: 8rem;
}

#sign-in-page input {
  margin-left: 1rem;
}

#sign-in-page button {
  margin-top: 2rem;
}
