.password-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.capslock-icon {
  color: var(--olive-darker);
}

.dark-theme .capslock-icon {
  color: var(--black-lighter);
}

.visibility-icon {
  user-select: none;
  cursor: pointer;
  margin: 0 0.5rem;
}

#sign-up-page > div {
  width: 400px;
}

#sign-up-page h2 {
  margin-bottom: 2rem;
}

#sign-up-page label {
  margin-bottom: 1rem;
  font-weight: 700;
}

#sign-up-page input[type="text"],
#sign-up-page input[type="email"],
#sign-up-page input[type="password"] {
  margin-bottom: 1rem;
  width: 100%;
}

#sign-up-page input[type="checkbox"] {
  margin-left: 0.5rem;
}

#sign-up-page button[type="submit"] {
  width: 100%;
  margin-top: 2rem;
}

#sign-up-page div + p.helper {
  /* margin-top: 0; */
}

#sign-up-page button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: default;
}
