#sign-in-page > div {
  width: 400px;
}

#sign-in-page h2 {
  margin-bottom: 2rem;
}

#sign-in-page label {
  margin-bottom: 1rem;
  font-weight: 700;
}

#sign-in-page input[type="email"],
#sign-in-page input[type="password"] {
  margin-bottom: 1rem;
  width: 100%;
}

#sign-in-page input[type="checkbox"] {
  margin-left: 0.5rem;
}

#sign-in-page button[type="submit"] {
  width: 100%;
  margin-top: 2rem;
}
