.socials-logins hr {
  margin: 2rem 0 1rem;
  border: none;
  color: var(--olive-light);
  border-top: 2px solid var(--olive-light);
  height: 1em;
  text-align: center;
  overflow: visible;
}

.socials-logins hr:after {
  content: "OR";
  position: relative;
  top: -0.7em;
  background-color: var(--olive);
  padding: 0 0.5rem;
  font-weight: 700;
}

.dark-theme .socials-logins hr {
  color: var(--black-lighter);
  border-top: 2px solid var(--black-lighter);
}

.dark-theme .socials-logins hr:after {
  background-color: var(--black);
}

.socials-logins > div {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.socials-logins button {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-logins button i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.button:has(.fa-google) {
  background-color: #db4437;
}

.button:has(.fa-github) {
  background-color: #24292e;
}
