#start-page section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100dvh; */
  /* padding: 0 2rem; */
  /* border: 1px solid red; */
}

#intro {
  height: calc(100dvh - 112px) !important;
  /* border-radius: 1rem; */
  /* margin: 0 0.5rem; */
  background-image: url("/public/img/pexels-fauxels-3184291.jpg");
  background-size: cover;
  overflow: hidden;

  /* border: 2px solid var(--white-dark); */
}

#intro > div {
  background-color: hsla(0, 0%, 0%, 0.1);
  backdrop-filter: blur(15px) saturate(75%);
  height: 100%;
  /* z-index: 4; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 125ms ease-out, backdrop-filter 125ms ease-out;
}

#intro p {
  font-size: 5rem;
  /* margin-top: -4em; */
  max-width: 1024px;
  color: var(--white);
}

#intro p .word {
  display: inline-block;
  position: relative;
  /* font-size: 5rem; */
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--blue);
}

#about {
  padding: 4rem 0 !important;
  margin-bottom: 4rem;
  align-items: flex-start !important;
  justify-content: flex-start !important;

  border-bottom: 2px solid var(--white-dark);
}

#about > div {
  max-width: 1024px;
  margin: 0 auto;
}

#about p {
  max-width: 75ch;
  margin: 2rem 0;
  font-size: 1.75rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.5;
  /* color: var(--blue); */
}

#about p:first-of-type {
  font-size: 2.15rem;
  color: var(--blue);
}

#about p * {
  color: inherit !important; /* !important to override the color-scheme */
}

#features {
  padding: 4rem 0 !important;
  align-items: flex-start !important;
  /* background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
  margin: 0 0.5rem;
  border: 2px solid var(--white-dark); */
  border-bottom: 2px solid var(--white-dark);
}

#features > div {
  max-width: 1024px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.features-feature-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.features-feature {
  width: calc(100% / 2 - 2rem);
  margin-bottom: 2rem;
}

.features-feature p,
.features-feature h3 {
  font-size: 1.5rem;
}

.features-feature h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.features-feature h3 span {
  margin-right: 0.5rem;
}

.features-feature p {
  margin-top: 1rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.25rem;
}

#pricing {
  padding: 4rem 0 !important;
  margin-bottom: 8rem;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

#pricing > div {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.pricing-plans {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 0;
}

.pricing-plan-labels li,
.pricing-plans li {
  padding: 0.5rem 0;
  font-size: 1.15rem;
}

.pricing-plan-labels {
  /* width: 300px; */
}

.pricing-plan-labels * {
  font-weight: 700;
}

.pricing-plan-labels h3 {
  visibility: hidden;
}

.pricing-plan {
  margin: 0 4rem;
  flex: 1;

  text-align: center;
}

.pricing-plan li {
  text-align: center;
}

.pricing-plans ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  #intro > div {
    background-color: hsla(231.4, 28%, 9.8%, 0.8);
    backdrop-filter: blur(10px) brightness(75%);
  }

  #about,
  #features {
    border-bottom: 2px solid hsl(231.4, 28%, 13.8%);
  }

  #intro p .word {
    color: var(--gold);
  }

  #about p:first-of-type {
    color: var(--gold);
  }
}
