#start-page > div {
  max-width: 1024px;
}

#start-page section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#about,
#testimonials,
#features,
#pricing {
  padding: 6rem 0;
  width: 100%;
  transition: border-bottom 125ms ease-out;
}

.light-theme #hero,
.light-theme #about,
.light-theme #testimonials,
.light-theme #features,
.light-theme #pricing {
  border-bottom: 2px solid var(--olive-light);
}

.dark-theme #hero,
.dark-theme #about,
.dark-theme #testimonials,
.dark-theme #features,
.dark-theme #pricing {
  border-bottom: 2px solid hsl(231.4, 28%, 13.8%);
}

#about > div,
#testimonials > div,
#features > div,
#pricing > div {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
