#hero {
  background-image: url("/img/pexels-fauxels-3184291.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#hero > div {
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.light-theme #hero > div {
  background: linear-gradient(hsla(143.2, 20.2%, 42.7%, 0.7) 10%, var(--olive) 100%);
  backdrop-filter: blur(3px) saturate(65%);
  transition: background 125ms ease-out, backdrop-filter 125ms ease-out;
}

.dark-theme #hero > div {
  background: linear-gradient(hsla(231.4, 28%, 9.8%, 0.7) 10%, var(--black) 100%);
  backdrop-filter: blur(3px) brightness(75%);
  transition: background 125ms ease-out, backdrop-filter 125ms ease-out;
}

#hero > div > div {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero p {
  margin-top: -1em;
  font-size: 4rem;
  color: var(--white);
  user-select: none;
}

#hero p .word {
  font-family: "Libre Baskerville", serif;
  color: var(--pink);
}
